.layout {
    min-height: 100%;
}
.layout .title {
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.layout .content {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}
.layout .normalLoginForm {
    margin-top: 200px;
    height: 500px;
    width: 300px;
}
.footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}
