#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.layout .logout {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.header:after {
    clear:both;
    content:'';
    display:block;
    width:0;
    height:0;
    visibility:hidden;
}
